<?xml version="1.0"?>
<configuration>
<system.web>
  <compilation debug="true" targetFramework="4.0" />
</system.web>
<system.serviceModel>
  <bindings>
    <webHttpBinding>
      <binding
        maxBufferPoolSize="2147483647"
        maxReceivedMessageSize="2147483647"
        maxBufferSize="2147483647" transferMode="Streamed">
      </binding>
    </webHttpBinding>
  </bindings>
  <behaviors>
    <serviceBehaviors>
      <behavior name="ServiceBehaviour">
        <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
        <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
      </behavior>
    </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="web">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
  </behaviors>
  <services>
    <service name="SamsRestStubAPIService.SamsRestStubAPIService" behaviorConfiguration="ServiceBehaviour">
         <!-- Service Endpoints -->
         <!-- Unless fully qualified, address is relative to base address supplied above -->
         <endpoint address ="" binding="webHttpBinding" contract="SamsRestStubAPIService.ISamsRestStubAPIService" behaviorConfiguration="web" />
    </service>
  </services>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
</system.serviceModel>
<system.webServer>
  <modules runAllManagedModulesForAllRequests="true"/>
  <directoryBrowse enabled="true" />
</system.webServer>
</configuration>